<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
<div th:replace="fragments/layout.html :: menu"/>
		<!--navigation bar-->
<div align="center">
		
		<h1>Manage Staff's Leave</h1>
		<table>
		<thead>
			<tr>
				
				<th>Name</th>
				<th>From Date</th>
				<th>To Date</th>
				<th>No of Days</th>
				<th>Leave Type</th>
				<th>Reason</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="leave : ${leaveList}">
				<td th:text="${leave.employeeName}">name</td>
				<td th:text="${leave.fromDate}">fromdate</td>
				<td th:text="${leave.toDate}">todate</td>
				<td th:text="${leave.duration}">duration</td>
				<td th:text="${leave.leaveType}">leavetype</td>
				<td th:text="${leave.reason}">reason</td>	
				<td>
					<a th:href="@{/manageleaves/accept/{id}(id=${leave.id})}">ACCEPT</a>
					<a th:href="@{/manageleaves/reject/{id}(id=${leave.id})}">REJECT</a>
				</td>
			</tr>
		</tbody>	
		</table>
</div>
</body>
</html>